body {
  background-color: #371d10;
}

input {
  background-color: black;
  border-radius: 10px;
  border-color: #362511;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

#inputErrorMessage {
  color: red;
  opacity: 0;
}

* {
  color: antiquewhite;
}
